BOT_TOKEN=your_telegram_bot_token
ADMIN_CHAT_ID=123456789
BUSINESS_NAME=NeuroKursy Swim
ADDRESS=Минск, ул. Герцена,2А, 1
PHONE=+375293848107
GOOGLE_SHEETS_ENABLED=false
GOOGLE_SHEETS_ID=your_google_sheet_id
GOOGLE_SHEETS_WORKSHEET=Заявки
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
BOOKING_SLOTS=Пн 10:00;Пн 12:00;Ср 10:00;Сб 11:00
